
<%= form_tag(kittens_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Kittens" %>
  <%= submit_tag "Search" %>
<% end %>


<h1>Here are the kitties nearby</h1>


<% @kittens.each do |kitten| %>


<div class="container">
  <div class = "row">
    <div class = "col-xs-12 col-sm-3">

      <p><%= kitten.name %></p>
     <p><%= kitten.personality %>
      <%= kitten.diet %>
      <%= kitten.home_delivery %>
      <%= kitten.price_per_day %></p>

    </div>
  </div>
</div>

<% end %>
