<h3 class= "index-header text-center"><i class="fa fa-star text-center"></i> Here are the kitties nearby <i class="fa fa-star"></i></h3>

<div class="container text-center kittens">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div id="map" style="width: 100%; height: 600px;"></div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="filter wrapper-gray">
        <span class="filter"><strong>Filter your search</strong></span>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Personalities <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <% Kitten::PERSONA.each do |p| %>
              <li><%= link_to p, kittens_path(personality: p, search: params[:search], start_date: params[:start_date], end_date: params[:end_date], race: params[:race]) %></li>
            <% end %>
          </ul>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Breeds <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <% Kitten::RACES.each do |p| %>
              <li><%= link_to p, kittens_path(race: p, search: params[:search], start_date: params[:start_date], end_date: params[:end_date], personality: params[:personality]) %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <hr>
      <% @kittens.each do |kitten| %>
    <div class="col-xs-12 col-sm-6 margin-bottom">
      <div class="card", style="background-image: url(<%= cl_image_path kitten.photos.first&.path %>)">
        <%= link_to '', kitten_path(kitten, start_date: @start_date, end_date: @end_date), class: "card-link" %>
          <p class="card-description"><%=kitten.name%></p>
        </div>
      </div>
      <% end %>
    </div>

  </div>
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>


