
<div class="container">
  <div class = "row">
    <div class = "col-xs-12 col-sm-4 col-sm-offset-4">


    <%= simple_form_for @kitten do |f|%>

      <%= f.input :name, placeholder: "Kitty" %>
      <%= f.input :race, collection: Kitten::RACES, prompt: "choose"%>
      <%= f.input :personality, collection: Kitten::PERSONA, prompt: "choose" %>
      <%= f.input :diet, placeholder: "croquettes bio" %>
      <%= f.input :home_delivery, as: :boolean, checked_value: true, unchecked_value: false%>
      <%= f.input :price_per_day, placeholder: "how much is kitty?" %>
      <%= f.input :photos, as: :attachinary %>
      <br>
      <div class= "text-center">
      <%= f.button :submit, "Put my kitty on Air", class:"btn btn-primary"%></div>
     <% end %>




    </div>
  </div>
</div>
