
<div class="container">
  <div class = "row">
    <div class = "col-xs-12 col-sm-3">


      <h1><%= @kitten.name %></h1>
      <% @kitten.photos.each do |photo| %>
      <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
        <% end %>
     <p><%= @kitten.personality %>
      <%= @kitten.diet %>
      <%= @kitten.home_delivery %>
      <%= @kitten.price_per_day %>
      <%= @kitten.owner.name %></p>



      <%= link_to "back", kittens_path%>


    </div>
  </div>
</div>
