<div class="wrapper-show-kitten">
<div class="container">
  <div class="row">
    <% if !(current_user.kittens.include?(@kitten)) %>
      <div class="col-xs-12 col-md-7 col-md-offset-1">
    <% else %>
      <div class="col-xs-12 col-md-6 col-md-offset-3">
    <% end %>
      <div class="card-show-kitten text-center light-shadow">

        <div class="entete-kitten-show">
          <h3 class="text-center"><%= @kitten.name %></h3>
          <div class="kitten-price"><%= @kitten.price_per_day %> € per day</div>
        </div>
        <% @kitten.photos.each do |photo| %>
        <%= cl_image_tag photo.path, width: 400, height: 250, crop: :fill, :class => "kitten-image" %>
        <% end %>
        <div class="kitten-description">
          <div id="kitten-price" style="display: none"><%= @kitten.price_per_day %></div>
          <p><%= @kitten.name %> is a young <strong><%= @kitten.race %></strong> cat.</p>
          <p>Most people say that <%= @kitten.name %> is a very <strong><%=  @kitten.personality %></strong> kitten.</p>
          <p>In terms of food, <%= @kitten.name %> prefers to eat <strong><%= @kitten.diet %></strong>.</p>
          <% if @kitten.home_delivery %>
            <div class="home-delivery"><%= @kitten.name %> can be brought directly to your place.</div>
          <% else %>
            <div class="home-delivery">You'll have to come and pick <%= @kitten.name %> at it's home.</div>
          <% end %>
        </div>

        <hr>

        <div class="reviews">
          <h4 class="text-center">Reviews</h4>
          <% @kitten.reviews.each do |review| %>
          <%= render 'reviews/show', review: review %>
          <% end %>
        </div>

        <% if !(current_user.kittens.include?(@kitten)) && @kitten.renters.include?(current_user) %>
          <h5 class=""><strong>Add a new Review</strong></h5>
          <div class="reviews">
          <%= simple_form_for [@kitten, @review], remote: true do |f| %>
            <%= f.input :content, label_html: { class: 'reviews' }%>
            <%= f.label :rating %> <br> <%=render 'shared/stars' %>
            <%= f.button :submit, class: "btn btn-success booking-btn btn-block" %>
          <% end %></div>
        <% end %>
        <% if current_user.kittens.include?(@kitten) %>
          <%= link_to "Update your kitten's profile", edit_kitten_path(@kitten), class: "btn btn-success" %>
         <% end %>

      </div>
    </div>
    <% if !(current_user.kittens.include?(@kitten)) %>
      <div class="col-xs-12 col-md-3 col-ms-offset-1">
        <div class="card-booking-kitten">
          <%= simple_form_for [@kitten, @booking] do |f| %>
          <%= f.error_notification %>

          <%= f.input :start_date, as: :string, input_html: {id: "start_date", class: "datepicker"}%>
          <%= f.input :end_date, as: :string, input_html: {id: "end_date",class: "datepicker"} %>

          <div class="total-price">
            <div class="total-price-label text-right">Montant total :</div>
            <div class="total-price-amount">0</div>
            <div style="padding-right: 5px"> €</div>
          </div>

          <%= f.button :submit, "Request a booking", class:"btn btn-success booking-btn" %>
          <% end %>
        </div>
      </div>
    <% else %>
    <% end %>
  </div>
</div>

