<div class="container">
  <div class="row">
    .<div class="col-xs-8 col-xs-offset-2">
      <div class="booking-pic text-center">
        <% @kitten.photos.each do |photo| %>
          <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill, :class => "booking-image-bordered" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h2 class="text-center">Request a booking for <%= @kitten.name %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="booking-form">
        <%= simple_form_for [@kitten, @booking] do |f| %>
          <%= f.error_notification %>

          <%= f.input :start_date, as: :string, input_html: {value: '20/02/2016', class: "datepicker"}%>
          <%= f.input :end_date, as: :string, input_html: {value: '21/02/2016', class: "datepicker"} %>

          <%= f.button :submit, "Book this kitten", class:"btn btn-success booking-btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

