<div class="container text-center">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="text-center">Your booking request has been sent to <%= @kitten.name %>'s owner</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-sm-offset-3">
      <div>
        <% @kitten.photos.each do |photo| %>
          <%= cl_image_tag photo.path, width: 150, height: 150, crop: :fill, :class => "booking-image-bordered" %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="booking-infos">
        <p>From : <%= @booking.start_date.to_date %></p>
        <p>To : <%= @booking.end_date.to_date %></p>
        <p>Number of days : <%= @booking.number_of_days %></p>
        <p>Total price : <%= (@booking.number_of_days * @kitten.price_per_day) unless @kitten.price_per_day.nil? %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center">You will be informed as soon as the booking request is accepted</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <% if @booking.accepted.nil? %>
        <ul class="list-inline list-unstyled">
          <li>
            <%= simple_form_for @booking do |f| %>
              <%= f.input :accepted, as: :hidden, input_html: {value: true} %>
              <%= f.submit "Accept", class: "btn btn-success" %>
            <% end %>
          </li>
          <li>
            <%= simple_form_for @booking do |f| %>
              <%= f.input :accepted, as: :hidden, input_html: {value: false} %>
              <%= f.submit "Decline", class: "btn btn-danger" %>
            <% end %>
          </li>
        </ul>
      <% else %>
        <p>Status : <%= @booking.accepted ? "accepted" : "declined" %></p>
      <% end %>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-xs-12">
      <%= link_to "Go back to #{@kitten.name}'s profile", kitten_path(@kitten), :class => "btn btn-success" %>
    </div>
  </div>
</div>


