<div class="container">
  <div class = "row">
    <div class = "col-xs-12 col-sm-4 col-sm-offset-4">

     <h3 class="text-center" style="color:pink; padding:20px">Edit your Profile</h3>
    <%= simple_form_for @user do |f|%>

      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :zipcode %>
      <%= f.input :town %>
      <%= f.input :email %>
      <%= f.input :password %>
      <br>
      <div class= "text-center">
      <%= f.button :submit, "GO!", class:"btn btn-primary"%></div>
     <% end %>

<br>


    </div>
  </div>
</div>
