
<div class= "container container-dashboard">
    <h1>My Profile</h1>
    <p>My name<%= current_user.name %></p>
    <p>My address<%= current_user.address %></p>
    <p>My email<%= current_user.email %></p>
</div>

<div class = "container container-dashboard">
  <div class ="row">
    <div class="col-xs-12 col-sm-6 col-sm-6-offbeat-1">
      <h2> mes chats</h2>
        <div class = "card-dashboard">
          <% if current_user.kittens.length == 1 %>
            <h3><strong><%= current_user.kittens.name %></strong></h3>
            <p><strong>Breed:</strong><%= current_user.kittens.race %></p>
            <p><strong>Price per day:</strong><%= current_user.kittens.price_per_day %>€</p>
          <% else  %>
            <% current_user.kittens.each do |kitten| %>
            <h3>name:<strong><%= current_user.kittens.name %></strong></h3>
            <p><strong>Breed:</strong><%= kitten.race %></p>
            <p><strong>Price per day:</strong><%=kitten.price_per_day %>€</p>
            <% end %>
          <%end%>
        </div>
    </div>
  <div class="col-xs-12 col-sm-6 col-sm-6-offbeat-1">
    <div class= "card-dashboard">
      <h2>Mes bookings</h2>
        <% if current_user.bookings.length == 1 %>
          <p><%= current_user.bookings.kitten %></p>
          <p><%= current_user.bookings.user_id %></p>
          <p><%= current_user.bookings.accepted %></p>
          <p><%= current_user.bookings.start_date %></p>
          <p><%= current_user.bookings.end_date %></p>
        <% else  %>
          <% current_user.bookings.each do |booking| %>
            <p><%= booking.kitten_id %></p>
            <p><%= booking.user_id %></p>
          <% end %>
        <%end%>
      </div>
    </div>
  </div>
</div>











